.button {
  backface-visibility: hidden;
  border-color: argb();
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0 0 0 1px argb();
  background-color: $islamicGreen;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 21px; // Apple HIG recommends >= 44px
  outline: 0;
  padding: 0;
  perspective: 900px;
  position: relative;
  text-align: center;
  @include font-mass(1rem, 2.8rem);
  @include transitions(
    $duration: #{100ms, 200ms},
    $property: #{background-color, box-shadow},
    $timing: ease-in-out
  );
  &:hover {
    @include breakpoint($large) {
      box-shadow: 0 0 8px 0px $boulder;
    }
  }
  &:focus {
    box-shadow: 0 0 8px 0px $boulder;
  }
  &:active {
    box-shadow: 0 0 10px -8px darken($islamicGreen, 20%);
  }
  &::before {
    transition: background-color 250ms ease-out 0s;
  }
  &[disabled], &[data-disabled='disabled'], &[data-disabled=true] {
    background-color: rgba($mercury, 0.6);
    border-color: $boulder;
    box-shadow: 0 0 0 0 argb();
    color: rgba(white, 0.75);
    cursor: default;
  }
  &-row {
    min-height: 44px;
    margin-top: 20px;
    position: relative;
    @include float-row;
  }
  &-text {
    color: white;
    cursor: pointer;
    height: 10px;
    padding: 0 12px;
    text-align: center;
    text-shadow: 0 0 0 argb();
    transition: color 150ms ease-in-out 0s;
    white-space: nowrap;
    @include center-xy;
    @include font-mass(0.625rem, 0.5rem);
  }
}
