input {
  &[type='text'] {
    background-origin: border-box;
    font-weight: 400;
    outline: none;
    text-shadow: 0 0 0 argb();
    @include text-input-placeholder {
      margin-bottom: 0;
      @include font-mass(0.8rem);
    }
    @include moz-placeholder(3.85rem);
    &[disabled] {
      background-color: rgba($mercury, 1);
      border-radius: 0;
      color: rgba($boulder, 0.8);
      @include text-input-placeholder {
        color: rgba($boulder, 0.8);
      }
    }
    &:-webkit-autofill {
      background-attachment: scroll;
      background-clip: border-box;
      background-color: white;
      background-origin: content-box;
      background-position: 0 0;
      background-repeat: repeat;
      background-size: cover;
      box-shadow: inset 0 0 5000px 100px white;
      transition-delay: 0s;
      transition-duration: 5000s;
      transition-property: box-shadow;
    }
    &.inline-input {
      background-color: argb();
      @include float-box;
      @include font-mass;
    }
    &.locked {
      background: rgba($mercury, 0.8);
      box-shadow: inset 0 0 0 0 argb();
      color: rgba(black, 0.5);
    }
  }
}
