.list {
  margin-bottom: 10px;
  position: relative;
  width: $wellWidth;
  @include center-x;
  @include breakpoint($large) {
    max-width: $wellWidthLarge;
  }
  @include breakpoint($xLarge) {
    max-width: $wellWidthXLarge;
  }
  .todos & {
    margin-top: 20px;
    @include breakpoint($large) {
      margin-top: 24px;
    }
  }
  &-action {
    height: 20px;
    margin-left: 6px;
    outline: 0;
    position: relative;
    @include float-box;
    &:first-child {
      margin: 0;
    }
    > span {
      color: $dodgerBlue;
      cursor: pointer;
      height: 10px;
      transition: color 150ms ease 0s;
      @include center-y;
      @include font-mass(0.625rem, 0.5rem, 800);
      @include hz-underline($dodgerBlue);
      &::before {
        bottom: 0;
      }
    }
  }
  &-actions, &-info {
    clear: both;
    min-height: 16px;
    text-align: left;
    @include float-box;
    @include breakpoint($large) {
      clear: none;
    }
  }
  &-actions {
    margin-top: 8px;
    @include breakpoint($large) {
      margin-top: 0;
    }
  }
  &-grid, &-head {
    width: $wellWidth;
    @include center-x;
    @include breakpoint($large) {
      max-width: $wellWidthLarge;
    }
    @include breakpoint($xLarge) {
      max-width: $wellWidthXLarge;
    }
  }
  &-grid {
    @include breakpoint($medium) {

    }
  }
  &-head {
    padding: $appPaddingX;
    @include breakpoint($large) {
      padding: 0;
    }
  }
  &-info {
    color: $boulder;
    transition: color 100ms ease-in 0s;
    @include font-mass;
    @include breakpoint($large) {
      margin-right: 6px;
    }
  }
  &-item {
    backface-visibility: hidden;
    border-bottom: edge($mercury);
    overflow: hidden;
    outline: none;
    position: relative;
    @include float-row;
    @include breakpoint($medium) {

    }
    @include breakpoint($large) {

    }
    &:hover {

    }
    &:focus {

    }
    &.expanded {
      opacity: 0;
      @include animations(
        $delay: 50ms,
        $duration: 400ms,
        $name: fadeIn,
        $timing: linear
      );
    }
    &-container {
      backface-visibility: hidden;
      @include float-row;
      @include size(100% auto);
      @include breakpoint($medium) {
        padding-top: calc(100% / (16 / 9));
      }
    }
    &-title {
      h5 {
        text-align: left;
      }
    }
  }
}
