.page-header {
  background: $dodgerBlue;
  height: $headerHeight;
  z-index: 1000;
  @include float-box;
  @include position(fixed, 0 0 null 0);
  @include breakpoint($medium) {
    height: $headerHeightLarge;
  }
  &-container {
    height: $headerHeight;
    width: $wellWidth;
    @include center-x;
    @include breakpoint($large) {
      height: $headerHeightLarge;
      max-width: $wellWidthLarge;
    }
    @include breakpoint($xLarge) {
      max-width: $wellWidthXLarge;
    }
  }
  &-logo {
    left: $appPaddingX;
    @include center-y;
    @include size(138px calc(#{$targetSize}));
    @include breakpoint($large) {
      left: 0;
    }
    &-text {
      color: white;
      height: 34px;
      text-shadow: -2px 2px 0 rgba($boulder, 0.35);
      @include center-y;
      @include font-mass(2.25rem, 1.8rem, 300);
    }
  }
}
