svg.svg-definitions(
  xmlns='http://www.w3.org/2000/svg'
  xmlns:xlink='http://www.w3.org/1999/xlink'
)
  // Arrow Vertice Center
  symbol#icon-arrow-center(viewBox='0 0 60 60')
    path(d='M30 59.8499985V.3160732')

  // Arrow Vertice Left
  symbol#icon-arrow-left(viewBox='0 0 60 60')
    path(d='M30 .3160732l21 21.3678543')

  // Arrow Vertice Right
  symbol#icon-arrow-right(viewBox='0 0 60 60')
    path(d='M30 .3160732L9.020273 21.683927')

  // Icon Gear Large
  symbol#icon-gear-large(viewBox='0 0 100 100')
    path(d='M53.3558464 90.2891693l2.7786713-2.7786789c1.223114-1.2234497 1.3905296-3.1487503.3969536-4.5649567l-2.6992836-3.8504486c1.044857-1.8095856 1.8488731-3.7478943 2.3916435-5.7657471l4.6245079-.8137512c1.7138252-.2855377 2.9717331-1.7656784 2.97715-3.5031128v-3.9695358c-.0054169-1.7374382-1.2633247-3.2175789-2.97715-3.5031128l-4.6245079-.8137512a23.9957964 23.9957964 0 0 0-2.3916435-5.7657509l2.6992798-3.8008308c.993576-1.4162064.8261604-3.3415108-.3969536-4.5649605l-2.7786713-2.7786751c-1.2234535-1.223114-3.1487541-1.3905296-4.5649643-.3969536l-3.8504486 2.6992836c-1.809433-1.0451622-3.7477875-1.8491936-5.7657509-2.3916435l-.8137512-4.6245079c-.2855339-1.7138252-1.7656746-2.9717331-3.5031128-2.97715h-3.9695339c-1.7374401.0054131-3.2175808 1.2633247-3.5031147 2.97715l-.813755 4.6245079c-2.0178872.5426636-3.9562112 1.3466873-5.7657471 2.3916436l-3.800827-2.6992836c-1.4162073-.993576-3.3415117-.8261604-4.5649633.3969536l-2.7786742 2.778675c-1.2137442 1.2310295-1.3685598 3.1557579-.3671818 4.5649605l2.6992836 3.8504486c-1.0451632 1.8094368-1.8491964 3.7477875-2.3916445 5.7657509l-4.6245065.813755C3.2633243 61.8749771 2.005414 63.3551216 2 65.0925598v3.9695358c.0054157 1.7374344 1.2633257 3.2175751 2.9771504 3.5031128l4.6245065.8137512c.5423412 2.0179977 1.3463793 3.9563599 2.3916445 5.7657471l-2.6992836 3.8008347c-.993577 1.4162064-.8261595 3.341507.3969526 4.5649567l2.7786741 2.7786789c1.2234516 1.223114 3.148756 1.3905334 4.5649643.3969574l3.8504486-2.6992874c1.8096848 1.0446548 3.7479687 1.8486557 5.7657471 2.3916473l.8137531 4.6245041c.2855339 1.713829 1.7656765 2.9717407 3.5031147 2.97715h3.9695339c1.7374382-.0054092 3.2175789-1.2633209 3.5031128-2.97715l.813755-4.6245117c2.0179253-.5425568 3.9562645-1.3465805 5.7657471-2.3916473l3.7710571 2.6695175c1.4092027 1.0013732 3.3339349.8465575 4.5649682-.3671876zM32.8928947 77.6462097c-5.8534756 0-10.5986538-4.7451859-10.5986519-10.5986633.0000038-5.8534775 4.7451859-10.5986557 10.5986595-10.5986519s10.5986557 4.7451859 10.5986519 10.5986671c0 .0032959 0 .0066071-.0000038.0099182-.0054779 5.8495942-4.7490539 10.5887299-10.5986557 10.5887299z')

  // Icon Gear Small
  symbol#icon-gear-small(viewBox='0 0 100 100')
    path(d='M96.8222351 18.926878c-.4503021-1.6669502-2.0311432-2.7710266-3.7512054-2.6198921l-4.2077026.3671818c-1.4672318-2.2134542-3.3637466-4.1099606-5.5772018-5.5771942l.3671875-4.207706c.1551819-1.7265525-.9549179-3.3141944-2.6298218-3.7611344l-3.7909012-.9923835c-1.6817474-.4388317-3.4346924.3998992-4.1481628 1.9847672l-1.7862854 3.7710571c-2.6487427.1559219-5.2382507.848032-7.6115799 2.0343857L60.223137 7.4946203c-1.4162102-.993577-3.3415108-.8261595-4.5649643.3969536l-2.7786713 2.7786732c-1.223114 1.2234516-1.3905296 3.148756-.3969536 4.5649643l2.4611092 3.463418c-1.1863518 2.3733349-1.8784637 4.9628391-2.0343857 7.6115818l-3.8702965 1.825985c-1.5848656.7134686-2.4235992 2.4664154-1.9847679 4.1481628l.9923859 3.790905c.4463234 1.6709175 2.0282326 2.7799339 3.7512054 2.629818l4.2077103-.3671799c1.4672356 2.2134514 3.363739 4.1099586 5.5771942 5.5771942l-.3671837 4.2077026c-.1269722 1.71735.9925728 3.2796974 2.6595879 3.7115173l3.7909088.992382c1.6817474.4388313 3.4346848-.3999023 4.1481628-1.9847679l1.786293-3.8405228c2.6594467-.138195 5.2628403-.8168983 7.6512756-1.9946938l3.4634171 2.461113c1.4162064.993576 3.341507.8261604 4.5649567-.3969574l2.7786789-2.7786713c1.223114-1.2234535 1.3905334-3.1487541.3969574-4.5649643l-2.4313354-3.4634171c1.186348-2.373333 1.8784637-4.962841 2.0343857-7.6115818l3.8405304-1.7862911c1.5848618-.7134686 2.4235916-2.4664154 1.9847641-4.1481628l-1.0618669-3.7909029zM77.7684784 32.7309341c-2.9130402 2.8846397-7.6129837 2.861618-10.4976273-.0514183-2.8846359-2.9130344-2.861618-7.6129799.0514145-10.4976196 2.8928833-2.8646793 7.5533295-2.8646793 10.4462128 0 2.9130325 2.8846397 2.9360504 7.5845852.0514145 10.4976196a7.5966777 7.5966777 0 0 1-.0514145.0514183z')
