// Global color definitions

$boulder:       #7b7b7b; // rgb(123),        hsl(0,0,48)
$dodgerBlue:    #348dfc; // rgb(52,141,252), hsl(213,97,60)
$islamicGreen:  #10bb07; // rgb(16,187,7),   hsl(117,93,38)
$mercury:       #e7e7e7; // rgb(231),        hsl(0,0,91)
$silver:        #bababa; // rgb(186),        hsl(0,0,73)

// radial-gradient(white 0%, whitesmoke 40%, rgba($silver,0.5) 100%);
